.navbar-default .navbar-nav > li > a.cx_adminonly {
  color: #CFCFCF;
}

li > a.cx_adminonly  {
  color: #CFCFCF;
}

div.cx_article .cx_monospace {
    font-family:Courier New, Courier, monospace;
}

div.cx_article img.cx_right {
    float: right;
}

div.cx_article img.cx_left {
    float: left;
}

div.cx_article img.cx_center {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}