.navbar-default .navbar-nav > li > a.cx_adminonly {
  color: #CFCFCF;
}

li > a.cx_adminonly  {
  color: #CFCFCF;
}

article .cx_monospace {
    font-family:Courier New, Courier, monospace;
}

article img.cx_right {
    float: right;
    margin: 0 0 3px 10px;
}

article img.cx_left {
    float: left;
    margin: 0 10px 3px 0;
}

article img.cx_center {
    display: inline;
    margin: 3px 10px;
}