.spacer
{
font-family: verdana , Arial, Helvetica, sans-serif; 
text-decoration: none; 
font-size: 2px;
color: #000000;
}

.homePage
{
font-family: "Trebuchet MS", verdana;
	font-size: 12px;
	color: #333333;
	letter-spacing: normal;
}



a.linkCentres
{
font-family: verdana , Arial, Helvetica, sans-serif; 
font-size: 10px;
color: #666666;
font-weight:bold;
text-decoration:none;
}

a.linkCentres:hover
{
font-family: verdana , Arial, Helvetica, sans-serif; 
font-size: 10px;
color: #000000;
font-weight:bold;
text-decoration:none;
}


a.linkLiens
{
font-family: verdana , Arial, Helvetica, sans-serif; 
font-size: 10px;
color: #666666;
font-weight:bold;
text-decoration:none;
}

a.linkLiens:hover
{
font-family: verdana , Arial, Helvetica, sans-serif; 
font-size: 10px;
color: #640002;
font-weight:bold;
text-decoration:none;
}

.campotable
{
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    FONT-SIZE: 10px;
 	BORDER-LEFT: #666666 1px solid;
    COLOR: #666666;
    BORDER-BOTTOM: #666666 1px solid;
    FONT-FAMILY: Verdana
}


a.linksDernieresTitre
{
	font-family: "Trebuchet MS", verdana;
	font-size: 12px;
	color: #000000;
	letter-spacing: normal;
	text-decoration:none;
	letter-spacing: 1pt;
}

a.linksDernieresTitre:hover
{
	font-family: "Trebuchet MS", verdana;
	font-size: 12px;
	color: #CC3333;
	letter-spacing: normal;
	text-decoration:none;
	letter-spacing: 1pt;
}


a.linksDernieres
{
	font-family: "Trebuchet MS", verdana;
	font-size: 12px;
	color: #333333;
	letter-spacing: normal;
	text-decoration:none;
	letter-spacing: 1pt;
}

a.linksDernieres:hover
{
	font-family: "Trebuchet MS", verdana;
	font-size: 12px;
	color: #CC3333;
	letter-spacing: normal;
	text-decoration:none;
	letter-spacing: 1pt;
}


.titleDerniere {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC3333;
	word-spacing: normal;
	letter-spacing: 4pt;
}

.textosDerniere {
	font-family: "Trebuchet MS", verdana;
	font-size: 12px;
	color: #333333;
	letter-spacing: normal;
}



a.linksDernieresCentres
{
	font-family: "Trebuchet MS", verdana;
	font-size: 13px;
	color: #CC3333;
	letter-spacing: normal;
	text-decoration:none;
	letter-spacing: 1pt;
}

a.linksDernieresCentres:hover
{
	font-family: "Trebuchet MS", verdana;
	font-size: 13px;
	color: #000000;
	letter-spacing: normal;
	text-decoration:none;
	letter-spacing: 1pt;
}



a.retour
{
	font-family: "Trebuchet MS", verdana;
	font-size: 12px;
	color: #CC3333;
	letter-spacing: normal;
	text-decoration:none;
	letter-spacing: 1pt;
}

a.retour:hover
{
	font-family: "Trebuchet MS", verdana;
	font-size: 12px;
	color: #000000;
	letter-spacing: normal;
	text-decoration:none;
	letter-spacing: 1pt;
}